@font-face{
    font-family: Brown-Sugar;
    src:url(./Fonts/Brown-Sugar-Font/Brown\ Sugar\ .ttf);
}



body{
    background-color:white;
    font-family: Brown-Sugar;
    margin:0;
   
}
.background-color{
    width: 90%;
    background-color:#FBFBFB ;
    /* background-color:#ada7a7 ; */
    margin: 0 auto;
}
main{
    height: 100%;
    margin: 0 auto;
    border: solid 2px #FBFBFB
}

.header-bar{
    margin: .5em 3em 0 3em;
    /* border: solid 2px black; */
    display: flex;
    justify-content: space-between;
    font-size: 2rem; 
}

.header-center{

    /* border:solid 2px red; */
    padding:1em 10em;
    margin:1em 0;
}
#name-group{
    
    /* border:solid 2px red; */
    display: flex;
    flex-direction: row;
    align-items: center;    
}
#name-group h1{
    font-size: 6rem;
}
#name-group img{
    margin-right: 2em;
    width:15vw; 
}
.header-center h5{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin:4em 0 0 0;
    width: 40%;
    line-height: 24px;
}



/* Notable Projects */
#notable-projects{
    text-align: center;
    /* border:solid 2px red; */
    margin: 5em 0;
    
}
#squiggly{
    position: absolute;
    right:5em;

    width:25%;
    height:30%

}
#notable-projects #notable{
    font-size: 5em;
    margin:0;
    padding:0;
    letter-spacing: 28px;
}
#notable-projects #notable + h2{
    margin:-.75em 0 0 9.5em;
    padding:0;
    font-size: 2em;
}



/* Sections */
section .section-imgs + div , #contact-info{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
section{
    margin: 4em 2em 0 2em;
}
 #section-1{
    background-color:#fdfdfd;
    
}
#section-2, #section-4{
    /* border:solid 2px yellow; */
    margin-left:45%;
}
#section-1, #section-3{
    /* border:solid 2px yellow; */
    margin-right:45%;
}




.section-imgs{
    padding:1em;
    max-width: 60%;
    height:20vh;
    /* border:solid 2px blue; */
    display: flex;
    
}
.section-imgs img{
    width: 30%;
    margin-left: 2em;
}

div.section-imgs .desktop{
    margin:0;
    width: 70%;
}


div .section-imgs #section-2{
    max-width:40%
}








/* Footer */

footer{
    margin:3em 0 4em 0;
    /* border:solid 2px red; */

}
#contact-label{
    text-align: center;
}
#contact-label #get-in{
    font-size: 4em;
    margin:0;
    padding:0;
    letter-spacing: 14px;
}
#contact-label #get-in + h3{
    margin:-.5em 0 0 4.5em;
    padding:0;
    font-size: 2em;
}


#contact-info{
    display: flex;
    justify-content: space-evenly;
    margin: 5em 0 0 0 
}








@media (max-width:1275px) and (min-width:930px){
    .header-center #name-group h1{
        font-size:5rem;
    }
}
@media (max-width:1260px){
    #section-1 #squiggly{
        max-width:18%;
        height: 18%;
        bottom:-10;
    }
}
@media (max-width:930px) {
    html{
        font-size:9px;
    }
    #section-1 #squiggly{
        max-width:15%;
        bottom:-10;
    }
    .section-imgs{
        height:70%;
    }
}
@media (max-width:600px){
    #section-1 #squiggly{
        width:10%;
        height: 10%;
        bottom:25;
    }
    .header-center h5{
        width:70%;
    }

}
@media (max-width:500px){
    html{
        font-size:7px;
    }

    .header-center #name-group h1{
        font-size:4rem;
    }
}